--
-- PostgreSQL database dump
--

\restrict u5Mhj5v906DHThaUVSAQvkTwQ6d5jBxiilqT33hhYgAnCQBPFGzbLIMEnqlFkcx

-- Dumped from database version 14.20
-- Dumped by pg_dump version 14.20

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: cube; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS cube WITH SCHEMA public;


--
-- Name: EXTENSION cube; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION cube IS 'data type for multidimensional cubes';


--
-- Name: earthdistance; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS earthdistance WITH SCHEMA public;


--
-- Name: EXTENSION earthdistance; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION earthdistance IS 'calculate great-circle distances on the surface of the Earth';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: calculate_consumption_metrics(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.calculate_consumption_metrics() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    prev_reading RECORD;
    session_rec RECORD;
BEGIN
    -- Find previous odometer reading for the same vehicle
    SELECT reading_km, reading_at INTO prev_reading
    FROM odometer_readings
    WHERE vehicle_id = NEW.vehicle_id
      AND reading_at < NEW.reading_at
      AND id != NEW.id
    ORDER BY reading_at DESC
    LIMIT 1;
    
    -- Calculate distance if previous reading exists
    IF prev_reading IS NOT NULL THEN
        NEW.distance_from_previous_km := NEW.reading_km - prev_reading.reading_km;
        
        -- Calculate consumption if linked to a session
        IF NEW.session_id IS NOT NULL AND NEW.distance_from_previous_km > 0 THEN
            SELECT kwh_charged, price_total INTO session_rec
            FROM charge_sessions
            WHERE id = NEW.session_id;
            
            IF session_rec IS NOT NULL THEN
                NEW.kwh_per_100km := (session_rec.kwh_charged / NEW.distance_from_previous_km) * 100;
                NEW.cost_per_100km := (session_rec.price_total / NEW.distance_from_previous_km) * 100;
            END IF;
        END IF;
    END IF;
    
    RETURN NEW;
END;
$$;


--
-- Name: update_session_status_on_odometer(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_session_status_on_odometer() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Update session status to completed when odometer is entered
    IF NEW.session_id IS NOT NULL THEN
        UPDATE charge_sessions
        SET status = 'completed',
            updated_at = NOW()
        WHERE id = NEW.session_id
          AND status = 'pending_odometer';
    END IF;
    
    RETURN NEW;
END;
$$;


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    action character varying(100) NOT NULL,
    entity_type character varying(100),
    entity_id uuid,
    changes jsonb,
    ip_address inet,
    user_agent text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE audit_logs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.audit_logs IS 'Audit trail for all critical actions';


--
-- Name: COLUMN audit_logs.changes; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.audit_logs.changes IS 'JSON object with changes - before and after';


--
-- Name: charge_cards; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.charge_cards (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    card_number character varying(255) NOT NULL,
    vehicle_id uuid NOT NULL,
    provider character varying(100),
    is_active boolean DEFAULT true,
    notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: charge_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.charge_sessions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    vehicle_id uuid NOT NULL,
    station_id uuid,
    tariff_id uuid,
    started_at timestamp with time zone NOT NULL,
    ended_at timestamp with time zone NOT NULL,
    kwh_charged numeric(8,3) NOT NULL,
    price_total numeric(10,2) NOT NULL,
    price_per_kwh numeric(8,4),
    currency character varying(3) DEFAULT 'BGN'::character varying NOT NULL,
    status character varying(50) DEFAULT 'pending_odometer'::character varying NOT NULL,
    notes text,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    charge_card_id uuid,
    CONSTRAINT charge_sessions_check CHECK ((ended_at >= started_at)),
    CONSTRAINT charge_sessions_check1 CHECK (((kwh_charged > (0)::numeric) OR ((status)::text = 'cancelled'::text))),
    CONSTRAINT charge_sessions_kwh_charged_check CHECK ((kwh_charged >= (0)::numeric)),
    CONSTRAINT charge_sessions_price_total_check CHECK ((price_total >= (0)::numeric)),
    CONSTRAINT charge_sessions_status_check CHECK (((status)::text = ANY ((ARRAY['pending_odometer'::character varying, 'completed'::character varying, 'cancelled'::character varying])::text[])))
);


--
-- Name: TABLE charge_sessions; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.charge_sessions IS 'Charging sessions - manually entered by administrators';


--
-- Name: COLUMN charge_sessions.kwh_charged; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.charge_sessions.kwh_charged IS 'Charged kWh';


--
-- Name: COLUMN charge_sessions.price_total; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.charge_sessions.price_total IS 'Total price including VAT';


--
-- Name: COLUMN charge_sessions.status; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.charge_sessions.status IS 'pending_odometer - awaiting odometer, completed - finished, cancelled - cancelled';


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    session_id uuid,
    type character varying(50) NOT NULL,
    subject character varying(500) NOT NULL,
    body text NOT NULL,
    status character varying(50) DEFAULT 'queued'::character varying NOT NULL,
    sent_at timestamp with time zone,
    seen_at timestamp with time zone,
    failed_at timestamp with time zone,
    failure_reason text,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT notifications_status_check CHECK (((status)::text = ANY ((ARRAY['queued'::character varying, 'sent'::character varying, 'failed'::character varying, 'seen'::character varying])::text[]))),
    CONSTRAINT notifications_type_check CHECK (((type)::text = ANY ((ARRAY['odometer_request'::character varying, 'odometer_reminder'::character varying, 'report_ready'::character varying, 'system'::character varying])::text[])))
);


--
-- Name: TABLE notifications; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.notifications IS 'Notifications to users';


--
-- Name: COLUMN notifications.type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.notifications.type IS 'Notification type: odometer_request, odometer_reminder, report_ready, system';


--
-- Name: COLUMN notifications.metadata; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.notifications.metadata IS 'JSON data - template variables, retry count, etc.';


--
-- Name: odometer_readings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.odometer_readings (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    vehicle_id uuid NOT NULL,
    session_id uuid,
    reading_km integer NOT NULL,
    reading_at timestamp with time zone NOT NULL,
    entered_by uuid NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    distance_from_previous_km integer,
    kwh_per_100km numeric(6,2),
    cost_per_100km numeric(8,2),
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT odometer_readings_reading_km_check CHECK ((reading_km >= 0))
);


--
-- Name: TABLE odometer_readings; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.odometer_readings IS 'Odometer readings for vehicles';


--
-- Name: COLUMN odometer_readings.distance_from_previous_km; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.odometer_readings.distance_from_previous_km IS 'Distance traveled since previous reading';


--
-- Name: COLUMN odometer_readings.kwh_per_100km; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.odometer_readings.kwh_per_100km IS 'Energy consumption per 100 km';


--
-- Name: COLUMN odometer_readings.cost_per_100km; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.odometer_readings.cost_per_100km IS 'Cost per 100 km in BGN';


--
-- Name: stations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    location character varying(255),
    address text,
    latitude numeric(10,7),
    longitude numeric(10,7),
    provider character varying(100),
    power_kw numeric(6,2),
    connector_types text[],
    is_active boolean DEFAULT true NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE stations; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.stations IS 'Charging stations';


--
-- Name: COLUMN stations.connector_types; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.stations.connector_types IS 'Array of connector types: Type2, CCS, CHAdeMO';


--
-- Name: tariffs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tariffs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    provider character varying(100),
    price_per_kwh numeric(8,4) DEFAULT 0 NOT NULL,
    currency character varying(3) DEFAULT 'BGN'::character varying NOT NULL,
    valid_from date,
    valid_until date,
    time_of_day character varying(50),
    is_active boolean DEFAULT true NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT tariffs_price_per_kwh_check CHECK ((price_per_kwh >= (0)::numeric))
);


--
-- Name: TABLE tariffs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.tariffs IS 'Charging tariffs and pricing';


--
-- Name: COLUMN tariffs.time_of_day; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.tariffs.time_of_day IS 'Time of day: peak, off-peak, or all-day';


--
-- Name: user_vehicles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_vehicles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    vehicle_id uuid NOT NULL,
    role_on_vehicle character varying(50) DEFAULT 'driver'::character varying NOT NULL,
    assigned_at timestamp with time zone DEFAULT now() NOT NULL,
    assigned_until timestamp with time zone,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT user_vehicles_role_on_vehicle_check CHECK (((role_on_vehicle)::text = ANY ((ARRAY['primary_driver'::character varying, 'driver'::character varying, 'responsible'::character varying])::text[])))
);


--
-- Name: TABLE user_vehicles; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.user_vehicles IS 'Assignment of users to vehicles';


--
-- Name: COLUMN user_vehicles.role_on_vehicle; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.user_vehicles.role_on_vehicle IS 'User role for this specific vehicle';


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    phone character varying(50),
    role character varying(50) DEFAULT 'driver'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    last_login_at timestamp with time zone,
    password_changed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'fleet_manager'::character varying, 'driver'::character varying])::text[])))
);


--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.users IS 'Default password for all users: Password123!';


--
-- Name: COLUMN users.role; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.users.role IS 'User role: admin, fleet_manager, or driver';


--
-- Name: vehicles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.vehicles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    registration_no character varying(20) NOT NULL,
    make character varying(100) NOT NULL,
    model character varying(100) NOT NULL,
    year integer NOT NULL,
    battery_capacity_kwh numeric(6,2) NOT NULL,
    vin character varying(17),
    color character varying(50),
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    purchase_date date,
    purchase_price numeric(12,2),
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    assigned_driver_id uuid,
    CONSTRAINT vehicles_battery_capacity_kwh_check CHECK ((battery_capacity_kwh > (0)::numeric)),
    CONSTRAINT vehicles_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'maintenance'::character varying, 'retired'::character varying])::text[]))),
    CONSTRAINT vehicles_year_check CHECK (((year >= 2000) AND (year <= 2100)))
);


--
-- Name: TABLE vehicles; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.vehicles IS 'Electric vehicles in the fleet';


--
-- Name: COLUMN vehicles.battery_capacity_kwh; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.vehicles.battery_capacity_kwh IS 'Battery capacity in kWh';


--
-- Name: v_completed_sessions; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_completed_sessions AS
 SELECT cs.id,
    cs.vehicle_id,
    v.registration_no,
    v.make,
    v.model,
    cs.started_at,
    cs.ended_at,
    cs.kwh_charged,
    cs.price_total,
    cs.currency,
    s.name AS station_name,
    s.location AS station_location,
    od.reading_km,
    od.distance_from_previous_km,
    od.kwh_per_100km,
    od.cost_per_100km,
    u.full_name AS entered_by_name
   FROM ((((public.charge_sessions cs
     JOIN public.vehicles v ON ((cs.vehicle_id = v.id)))
     LEFT JOIN public.stations s ON ((cs.station_id = s.id)))
     LEFT JOIN public.odometer_readings od ON ((cs.id = od.session_id)))
     LEFT JOIN public.users u ON ((od.entered_by = u.id)))
  WHERE ((cs.status)::text = 'completed'::text);


--
-- Name: VIEW v_completed_sessions; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON VIEW public.v_completed_sessions IS 'Completed charging sessions with all details';


--
-- Name: v_latest_odometer; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_latest_odometer AS
 SELECT DISTINCT ON (odometer_readings.vehicle_id) odometer_readings.vehicle_id,
    odometer_readings.reading_km,
    odometer_readings.reading_at,
    odometer_readings.entered_by
   FROM public.odometer_readings
  ORDER BY odometer_readings.vehicle_id, odometer_readings.reading_at DESC;


--
-- Name: VIEW v_latest_odometer; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON VIEW public.v_latest_odometer IS 'Latest odometer reading for each vehicle';


--
-- Name: v_vehicle_statistics; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_vehicle_statistics AS
 SELECT v.id AS vehicle_id,
    v.registration_no,
    v.make,
    v.model,
    count(cs.id) AS total_sessions,
    sum(cs.kwh_charged) AS total_kwh,
    sum(cs.price_total) AS total_cost,
    sum(od.distance_from_previous_km) AS total_distance_km,
    avg(od.kwh_per_100km) AS avg_kwh_per_100km,
    avg(od.cost_per_100km) AS avg_cost_per_100km,
    max(cs.started_at) AS last_charge_at
   FROM ((public.vehicles v
     LEFT JOIN public.charge_sessions cs ON (((v.id = cs.vehicle_id) AND ((cs.status)::text = 'completed'::text))))
     LEFT JOIN public.odometer_readings od ON ((cs.id = od.session_id)))
  GROUP BY v.id, v.registration_no, v.make, v.model;


--
-- Name: VIEW v_vehicle_statistics; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON VIEW public.v_vehicle_statistics IS 'Aggregated statistics per vehicle';


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.audit_logs (id, user_id, action, entity_type, entity_id, changes, ip_address, user_agent, created_at) FROM stdin;
\.


--
-- Data for Name: charge_cards; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: charge_sessions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.charge_sessions (id, vehicle_id, station_id, tariff_id, started_at, ended_at, kwh_charged, price_total, price_per_kwh, currency, status, notes, created_by, created_at, updated_at, charge_card_id) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.migrations (id, "timestamp", name) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.notifications (id, user_id, session_id, type, subject, body, status, sent_at, seen_at, failed_at, failure_reason, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: odometer_readings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: stations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tariffs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tariffs (id, name, provider, price_per_kwh, currency, valid_from, valid_until, time_of_day, is_active, description, created_at, updated_at) FROM stdin;
0ee4941b-7f8f-4e8b-b241-e60d19462701	Finess Albena	Finess	0.0000	EUR	2025-11-04	2029-01-01	\N	t	\N	2025-12-01 12:25:04.807731+00	2025-12-01 12:25:04.807731+00
\.


--
-- Data for Name: user_vehicles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_vehicles (id, user_id, vehicle_id, role_on_vehicle, assigned_at, assigned_until, notes, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: vehicles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.migrations_id_seq', 1, false);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: charge_cards charge_cards_card_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.charge_cards
    ADD CONSTRAINT charge_cards_card_number_key UNIQUE (card_number);


--
-- Name: charge_cards charge_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.charge_cards
    ADD CONSTRAINT charge_cards_pkey PRIMARY KEY (id);


--
-- Name: charge_sessions charge_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.charge_sessions
    ADD CONSTRAINT charge_sessions_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: odometer_readings odometer_readings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.odometer_readings
    ADD CONSTRAINT odometer_readings_pkey PRIMARY KEY (id);


--
-- Name: odometer_readings odometer_readings_vehicle_id_session_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.odometer_readings
    ADD CONSTRAINT odometer_readings_vehicle_id_session_id_key UNIQUE (vehicle_id, session_id);


--
-- Name: stations stations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stations
    ADD CONSTRAINT stations_pkey PRIMARY KEY (id);


--
-- Name: tariffs tariffs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tariffs
    ADD CONSTRAINT tariffs_pkey PRIMARY KEY (id);


--
-- Name: user_vehicles user_vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_vehicles
    ADD CONSTRAINT user_vehicles_pkey PRIMARY KEY (id);


--
-- Name: user_vehicles user_vehicles_user_id_vehicle_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_vehicles
    ADD CONSTRAINT user_vehicles_user_id_vehicle_id_key UNIQUE (user_id, vehicle_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vehicles vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_pkey PRIMARY KEY (id);


--
-- Name: vehicles vehicles_registration_no_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_registration_no_key UNIQUE (registration_no);


--
-- Name: vehicles vehicles_vin_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_vin_key UNIQUE (vin);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_created_at ON public.audit_logs USING btree (created_at DESC);


--
-- Name: idx_audit_logs_entity; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_entity ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: idx_audit_logs_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: idx_charge_sessions_created_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_charge_sessions_created_by ON public.charge_sessions USING btree (created_by);


--
-- Name: idx_charge_sessions_pending; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_charge_sessions_pending ON public.charge_sessions USING btree (vehicle_id, status) WHERE ((status)::text = 'pending_odometer'::text);


--
-- Name: idx_charge_sessions_started_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_charge_sessions_started_at ON public.charge_sessions USING btree (started_at DESC);


--
-- Name: idx_charge_sessions_station_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_charge_sessions_station_id ON public.charge_sessions USING btree (station_id);


--
-- Name: idx_charge_sessions_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_charge_sessions_status ON public.charge_sessions USING btree (status);


--
-- Name: idx_charge_sessions_vehicle_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_charge_sessions_vehicle_id ON public.charge_sessions USING btree (vehicle_id);


--
-- Name: idx_charge_sessions_vehicle_started; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_charge_sessions_vehicle_started ON public.charge_sessions USING btree (vehicle_id, started_at DESC);


--
-- Name: idx_notifications_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_created_at ON public.notifications USING btree (created_at DESC);


--
-- Name: idx_notifications_queued; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_queued ON public.notifications USING btree (status, created_at) WHERE ((status)::text = 'queued'::text);


--
-- Name: idx_notifications_session_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_session_id ON public.notifications USING btree (session_id);


--
-- Name: idx_notifications_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_status ON public.notifications USING btree (status);


--
-- Name: idx_notifications_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_type ON public.notifications USING btree (type);


--
-- Name: idx_notifications_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_user_id ON public.notifications USING btree (user_id);


--
-- Name: idx_odometer_entered_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_odometer_entered_by ON public.odometer_readings USING btree (entered_by);


--
-- Name: idx_odometer_reading_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_odometer_reading_at ON public.odometer_readings USING btree (vehicle_id, reading_at DESC);


--
-- Name: idx_odometer_session_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_odometer_session_id ON public.odometer_readings USING btree (session_id);


--
-- Name: idx_odometer_vehicle_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_odometer_vehicle_id ON public.odometer_readings USING btree (vehicle_id);


--
-- Name: idx_stations_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stations_is_active ON public.stations USING btree (is_active);


--
-- Name: idx_stations_location; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stations_location ON public.stations USING gist (public.ll_to_earth((latitude)::double precision, (longitude)::double precision)) WHERE ((latitude IS NOT NULL) AND (longitude IS NOT NULL));


--
-- Name: idx_stations_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stations_name ON public.stations USING btree (name);


--
-- Name: idx_stations_provider; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stations_provider ON public.stations USING btree (provider);


--
-- Name: idx_tariffs_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tariffs_is_active ON public.tariffs USING btree (is_active);


--
-- Name: idx_tariffs_provider; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tariffs_provider ON public.tariffs USING btree (provider);


--
-- Name: idx_tariffs_valid_dates; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tariffs_valid_dates ON public.tariffs USING btree (valid_from, valid_until);


--
-- Name: idx_user_vehicles_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_vehicles_user_id ON public.user_vehicles USING btree (user_id);


--
-- Name: idx_user_vehicles_vehicle_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_vehicles_vehicle_id ON public.user_vehicles USING btree (vehicle_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_is_active ON public.users USING btree (is_active);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_vehicles_make_model; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_vehicles_make_model ON public.vehicles USING btree (make, model);


--
-- Name: idx_vehicles_registration_no; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_vehicles_registration_no ON public.vehicles USING btree (registration_no);


--
-- Name: idx_vehicles_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_vehicles_status ON public.vehicles USING btree (status);


--
-- Name: odometer_readings trigger_calculate_consumption; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trigger_calculate_consumption BEFORE INSERT OR UPDATE ON public.odometer_readings FOR EACH ROW EXECUTE FUNCTION public.calculate_consumption_metrics();


--
-- Name: odometer_readings trigger_update_session_status; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trigger_update_session_status AFTER INSERT ON public.odometer_readings FOR EACH ROW EXECUTE FUNCTION public.update_session_status_on_odometer();


--
-- Name: charge_sessions update_charge_sessions_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_charge_sessions_updated_at BEFORE UPDATE ON public.charge_sessions FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: stations update_stations_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_stations_updated_at BEFORE UPDATE ON public.stations FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: tariffs update_tariffs_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_tariffs_updated_at BEFORE UPDATE ON public.tariffs FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: vehicles update_vehicles_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_vehicles_updated_at BEFORE UPDATE ON public.vehicles FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: charge_cards charge_cards_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.charge_cards
    ADD CONSTRAINT charge_cards_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(id) ON DELETE CASCADE;


--
-- Name: charge_sessions charge_sessions_charge_card_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.charge_sessions
    ADD CONSTRAINT charge_sessions_charge_card_id_fkey FOREIGN KEY (charge_card_id) REFERENCES public.charge_cards(id) ON DELETE SET NULL;


--
-- Name: charge_sessions charge_sessions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.charge_sessions
    ADD CONSTRAINT charge_sessions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: charge_sessions charge_sessions_station_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.charge_sessions
    ADD CONSTRAINT charge_sessions_station_id_fkey FOREIGN KEY (station_id) REFERENCES public.stations(id) ON DELETE SET NULL;


--
-- Name: charge_sessions charge_sessions_tariff_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.charge_sessions
    ADD CONSTRAINT charge_sessions_tariff_id_fkey FOREIGN KEY (tariff_id) REFERENCES public.tariffs(id) ON DELETE SET NULL;


--
-- Name: charge_sessions charge_sessions_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.charge_sessions
    ADD CONSTRAINT charge_sessions_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.charge_sessions(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: odometer_readings odometer_readings_entered_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.odometer_readings
    ADD CONSTRAINT odometer_readings_entered_by_fkey FOREIGN KEY (entered_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: odometer_readings odometer_readings_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.odometer_readings
    ADD CONSTRAINT odometer_readings_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.charge_sessions(id) ON DELETE SET NULL;


--
-- Name: odometer_readings odometer_readings_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.odometer_readings
    ADD CONSTRAINT odometer_readings_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(id) ON DELETE CASCADE;


--
-- Name: user_vehicles user_vehicles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_vehicles
    ADD CONSTRAINT user_vehicles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_vehicles user_vehicles_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_vehicles
    ADD CONSTRAINT user_vehicles_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(id) ON DELETE CASCADE;


--
-- Name: vehicles vehicles_assigned_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_assigned_driver_id_fkey FOREIGN KEY (assigned_driver_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict u5Mhj5v906DHThaUVSAQvkTwQ6d5jBxiilqT33hhYgAnCQBPFGzbLIMEnqlFkcx

